
@{
    ViewData["Title"] = "DownloadImageByUrl";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<h1>DownloadImageByUrl</h1>

<form asp-action="" asp-controller="">

    <input type="text" name="UploadImageByURL" />
    <input type="submit" value="UploadImage" />
</form>


