@model DataAccess.ViewModels.ZincAccountsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";

}
<link href="~/lib/jQuery-MultiSelect/jquery.multiselect.css" rel="stylesheet" />
<link href="~/select2/css/select2.min.css" rel="stylesheet" />

<link href="~/css/date-range-picker/daterangepicker.css" rel="stylesheet" />
<style>
    .controlabel {
        width: 105px;
        font-weight: bold;
    }

    .sidebar {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 51px;
        left: 0;
        width: 165px;
        box-shadow: 0 5px 15px rgba(0,0,0,.2);
        background-color: lightgrey;
        overflow-x: hidden;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
    }

        .sidebar a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 12px;
            font-family: Arial;
            color: black;
            display: block;
            height: auto;
            border-bottom: 1px solid #b7b5b5;
        }

            .sidebar a:hover {
                color: coral;
            }

    .sidebarafter {
        margin-left: 210px;
    }

    .active {
        font-weight: 600;
    }

    .inputtext {
        box-shadow: none !important;
        width: 75% !important;
        height: 30px !important;
    }
   
</style>
<div class="sidebar">
    <ul class="sidebar-links">
        <li class="">
            <a class="" asp-action="WatchListSummary" asp-controller="ZincWatchlist">Zinc DS Job</a>
        </li>
        <li class="">
            <a class="" asp-action="ZincKey" asp-controller="Channels">Zinc</a>
        </li>
        <li class="">
            <a class="" asp-action="ZincMaxDays" asp-controller="Channels">Zinc Max Days</a>
        </li>
        <li class="">
            <a class="" asp-action="Index" asp-controller="ZincProxy">Zinc Proxy</a>
        </li>
        <li class="">
            <a class="" asp-action="SaveZincEmail" asp-controller="ZincProxy">Zinc Proxy Email</a>
        </li>
        <li class="">
            <a class="active" asp-action="Index" asp-controller="ZincAccounts">Amazon Account</a>
        </li>

        <li class="">
            <a class="" asp-action="Index" asp-controller="CreditCardView">Credit Card</a>
        </li>

    </ul>



</div>

<div class="container sidebarafter">
    <div style="margin-left:-17px">
        <h6> Create Zinc Accounts </h6>
        <hr />
    </div>

    <div class="row">
        <div class="col-md-12">
            <form asp-action="IndexSave">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ZincAccountsId" type="hidden" />
                <div class="form-group row">
                    <label asp-for="AmzAccountName" class="col-form-label-sm controlabel">Amz Account:</label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="AmzAccountName" class="form-control form-control-sm" id="" placeholder="">
                        <span asp-validation-for="AmzAccountName" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <label asp-for="UserName" class="col-form-label-sm controlabel">User Name:</label>

                    <div class="col-sm-4">

                        @if (Model.ZincAccountsId > 0)
                        {<input type="text" asp-for="UserName" class="form-control form-control-sm" id="" placeholder="" readonly>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        }
                        else
                        {
                            <input type="text" asp-for="UserName" class="form-control form-control-sm" id="" placeholder="">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        }

                    </div>

                </div>
                @*<div class="form-group row">

            <label asp-for="Key" class="col-form-label-sm controlabel">Key:</label>
            <div class="input-group">
                <div class="col-sm-4">
                    <input type="password" name="Key" value="@Model.Key" class="form-control form-control-sm inputtext" id="KeyShow" placeholder="">
                    <span class="input-group-append">
                        <span class="input-group-text">
                            <span id="view-password"><i class="fa fa-eye" aria-hidden="true"></i></span>

                        </span>
                    </span>

                    <span asp-validation-for="Key" class="text-danger"></span>
                </div>
            </div>
        </div>*@
                <div class="form-group row">
                    <div class="">
                        <label asp-for="Key" class="col-form-label-sm controlabel">Key:</label>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="password" name="Key" value="@Model.Key" class="form-control form-control-sm inputtext" id="KeyShow" placeholder="">
                            <span class="input-group-append" style="height: 30px !important;cursor:pointer!important">
                                <span class="input-group-text">

                                    <span id="KeyShoweyes"><i class="fa fa-eye" aria-hidden="true" id="showskey"></i></span>
                                    @*<i class="fa fa-eye" aria-hidden="true"></i>*@
                                </span>
                            </span>

                            <span asp-validation-for="Password" class="text-danger" style="color:red"></span>
                        </div>
                    </div>

                </div>
                @*<div class="form-group row">

                    <label asp-for="Password" class="col-form-label-sm controlabel">Password:</label>
                    <div class="col-sm-4">
                        <input type="text" asp-for="Password" class="form-control form-control-sm" id="" placeholder="">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>*@
                <div class="form-group row">
                    <div class="">
                        <label asp-for="Key" class="col-form-label-sm controlabel">Password:</label>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="password" name="Password" value="@Model.Password" class="form-control form-control-sm inputtext" id="PasswordShow" placeholder="">
                            <span class="input-group-append" style="height: 30px !important;cursor:pointer!important">
                                <span class="input-group-text">

                                    <span id="PasswordShoweyes"><i class="fa fa-eye" aria-hidden="true" id="showspas"></i></span>
                                    @*<i class="fa fa-eye" aria-hidden="true"></i>*@
                                </span>
                            </span>

                            <span asp-validation-for="Password" class="text-danger" style="color:red"></span>
                        </div>
                    </div>

                </div>

                <div class="form-group row">

                    <div class="offset-md-1" style="padding-left:24px">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        
                    </div>
                    <div class="margin-top: 5px;">
                        <a asp-controller="ZincAccounts" asp-action="ZincAccountDetail" target="_blank" class="" style="font-size:15px;
    margin-left: 7px;">View Amz Account</a>
                    </div>


                </div>


                @*<div class="form-group">

        </div>*@
            </form>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/sticky-table-headers/js/jquery.stickytableheaders.min.js"></script>
    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/lib/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>

    <script src="~/lib/date-range-picker/moment.min.js"></script>
    <script src="~/lib/date-range-picker/daterangepicker.js"></script>
    <script>
       
        $('#KeyShoweyes').click(function () {
           
          
            $KeyShow = $('#KeyShow');
           
            if ($KeyShow.prop('type') == 'password') {
                $KeyShow.prop('type', 'text');

                var Show = $('#KeyShow').val();
               
                var astrictextkey = (Show.replace(Show.substring(5, 15), "*************"));
                
                $('#KeyShow').val(astrictextkey)
              
            } else {
                $KeyShow.prop('type','password');              
                
                
            }
            $('#showskey', this).toggleClass('fa fa-eye');
            $('#showskey', this).toggleClass('fa fa-eye-slash');
        });
        $('#PasswordShoweyes').click(function () {
            $KeyShow = $('#PasswordShow');

            if ($KeyShow.prop('type') == 'password') {
                $KeyShow.prop('type', 'text');
                var Showpassowrd = $('#PasswordShow').val();
                var astricShowpassowrd = (Showpassowrd.replace(Showpassowrd.substring(5, 15), "*************"));
                $('#PasswordShow').val(astricShowpassowrd)
            } else {
                $KeyShow.prop('type', 'password');

            }
            $('#showspas', this).toggleClass('fa fa-eye');
            $('#showspas',this).toggleClass('fa fa-eye-slash');
         

        });

    </script>
}