@model IEnumerable<Hld.WebApplication.ViewModel.ChannelLogs>

@{
    ViewData["Title"] = "ViewZincLogs";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<div class="form-row mb-2 ml-0">
    <h6>Zinc Credential Logs</h6>
    <li class="" style="margin-left:10px;font-size: 15px;">
        <a class="" asp-action="ZincKey" asp-controller="Channels">back</a>
    </li>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>

                Last Updated Date
            </th>
            <th>
                User
            </th>
            <th>
                Key
            </th>



        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        *******************@Html.DisplayFor(modelItem => item.Key)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
