
@{
    ViewData["Title"] = "GetTrackingNumberCount";
}
<div class="container-fluid">

    <div class="row col col-12" id="fixActionMenu">
        <div class="col col-md-2">
            <div class="row" style="margin-left:150px;
    margin-bottom: 15px;">
                <div class="pagination col-md-6 col">

                </div>

            </div>
        </div>
        <div class="col col-md-2" style="margin-left:150px">
            <span>Records Found: @ViewBag.Records</span>
        </div>


    </div>
</div>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    @*<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>*@
    <script src="~/lib/bootstrap-toggle.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '../ZincWatchlist/GetZincWatchListStatus',
                contentType: 'application/json',
                success: function (data) {
                    if (data.status == 1) {
                        $("#btnDisable").show();
                        $("#btnEnable").hide();
                    }
                    else {
                        $("#btnDisable").hide();
                        $("#btnEnable").show();
                    }
                    if (data.Switch == 0) {
                        $("#btnStopZinJob").hide();
                    }
                    else {
                        $("#btnStopZinJob").show();

                    }

                }
            });

            $("#dialog-Zinc").dialog({
                autoOpen: false,
                //title: 'Are u want to delete this reocord!',
                modal: true,
            });
            $("#dialog-StopZinc").dialog({
                autoOpen: false,
                title: 'Are u want to Stop Zinc Job!',
                modal: true,
            });
            $("#dialog-box-Enable").dialog({
                autoOpen: false,
                //title: 'Are u want to delete this reocord!',
                modal: true,
            });
            $("#dialog-box-Disable").dialog({
                autoOpen: false,
                //title: 'Are u want to delete this reocord!',
                modal: true,
            });
          //pagination
    $(".pagination").paging(parseInt('@ViewBag.Records'), {
    format: '[< nncnn >]',
    perpage: 25, // show 10 elements per page
    lapping: 0, // don't overlap pages for the moment
    page: 1, // start at page, can also be "null" or negative
    stepwidth: 0, // =0 means blockwise next/prev steps
    onSelect: function (page) {

    pageNo = page;
    // add code which gets executed when user selects a page
    var completURL = '/Shipment/GetWatchListSummary?page=' + page + ''

    $(".loadertbl").show();

        $.ajax({
            url: completURL,
            data: {},
            type: 'POST',
            traditional: true,
            success: function (data) {
                $('#loadOrder').empty();
                $('#loadOrder').html(data);
                $(".loadertbl").hide();
                // $('#tableOrderList').stickyTableHeaders({ fixedOffset: 0 });
            }
        });
        if (typeof OrderDateTimeFrom !== "undefined" && typeof OrderDateTimeTo !== "undefined") {
            if (OrderDateTimeFrom !== "" && OrderDateTimeTo !== "") {
                start = moment(OrderDateTimeFrom);
                end = moment(OrderDateTimeTo);

                cb(moment(OrderDateTimeFrom), moment(OrderDateTimeTo));
            }
            else {
                $('#reportrange span').html("No Date Selected");
            }

        }
        else {
            $('#reportrange span').html("No Date Selected");
        }


    //$.get(completURL).done(function (response) {
    //      $('#loadOrder').empty();
    //      $('#loadOrder').html(response);

    //      $('#tableOrderList').stickyTableHeaders({ fixedOffset: 65 });
    //  });
    },
        onFormat: function (type) {
            switch (type) {
                case 'block': // n and c
                    if (this.page === this.value) {
                        return '<span>' + this.value + '</span>';
                    } else {
                        return '<a href="#">' + this.value + '</a>';
                    }
                case 'next': // >
                    return '<a href="#">&gt;</a>';
                case 'prev': // <
                    return '<a href="#">&lt;</a>';
                case 'first': // [
                    return '<a href="#">First</a>';
                case 'last': // ]
                    return '<a href="#">Last</a>';
            }
        }


    });
            //$(function () {
            //    $('#toggle-two').bootstrapToggle({
            //        on: 'Enabled',
            //        off: 'Disabled'
            //    });
            //});


        $(document).on("change", "#toggle-two", function () {
            var zincval = $(this).is(':checked');

            $("#dialog-Zinc").dialog({
                buttons: {
                    "Confirm": function () {
                        debugger;

                       $.ajax({
                    type: 'GET',
                           url: '../ZincWatchlist/UpdateStatus?value=' +zincval ,
                    contentType: 'application/json',
                    success: function (res) {
                        $("#dialog-Zinc").dialog("close");

                    }
                });
                    }
                },
                "Cancel": function () {
                    $(this).dialog("close");

                }

            });
            $("#dialog-Zinc").dialog("open");
            })
            $("#dialog-box").dialog({
                autoOpen: false,
                //title: 'Are u want to delete this reocord!',
                modal: true,
            });

            $("#btnZinJob").click(function () {
                $("#dialog-box").dialog({
                    buttons: {
                        "Confirm": function () {
                            $.ajax({
                                type: 'GET',
                                url: '../ZincWatchlist/UpdateZincJobSwitch?value=' + true,
                                contentType: 'application/json',
                                success: function (res) {
                                    $("#dialog-box").dialog("close");
                                    $("#btnStopZinJob").show();
                                    $.ajax({
                                        type: 'GET',
                                        url: '../Zinc/ZincJobExecute',
                                        contentType: 'application/json',
                                        success: function (res) {
                                            console.log("success");
                                            $("#dialog-box").dialog("close");
                                            $.notify('Zinc job executed successfully', { globalPosition: 'bottom right', className: 'success myclass' });
                                        }
                                    });
                                }
                            });


                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                $("#dialog-box").dialog("open");
            });


            $(document).on("click", "#btnStopZinJob", function () {
                var Stopzincval =false;

                $("#dialog-StopZinc").dialog({
                    buttons: {
                        "Confirm": function () {
                            debugger;

                            $.ajax({
                                type: 'GET',
                                url: '../ZincWatchlist/UpdateZincJobSwitch?value=' + Stopzincval,
                                contentType: 'application/json',
                                success: function (res) {
                                    $("#dialog-StopZinc").dialog("close");
                                    $("#btnStopZinJob").hide();
                                }
                            });
                        }
                    },
                    "Cancel": function () {
                        $(this).dialog("close");

                    }

                });
                $("#dialog-StopZinc").dialog("open");
            })

            $(document).on("click", "#btnEnable", function () {
                $("#dialog-box-Enable").dialog({
                    buttons: {
                        "Confirm": function () {
                            debugger;

                            $.ajax({
                                type: 'GET',
                                url: '../ZincWatchlist/UpdateStatus?value=' + true,
                                contentType: 'application/json',
                                success: function (res) {
                                    $("#btnDisable").show();
                                    $("#btnEnable").hide();
                                    $("#dialog-box-Enable").dialog("close");

                                }
                            });
                        }
                    },
                    "Cancel": function () {
                        $(this).dialog("close");

                    }

                });
                $("#dialog-box-Enable").dialog("open");
            })



            $(document).on("click", "#btnDisable", function () {
                debugger;
                $("#dialog-box-Disable").dialog({
                    buttons: {
                        "Confirm": function () {
                            debugger;

                            $.ajax({
                                type: 'GET',
                                url: '../ZincWatchlist/UpdateStatus?value=' + false,
                                contentType: 'application/json',
                                success: function (res) {
                                    $("#dialog-box-Disable").dialog("close");
                                    $("#btnDisable").hide();
                                    $("#btnEnable").show();
                                }
                            });
                        }
                    },
                    "Cancel": function () {
                        $(this).dialog("close");

                    }

                });
                $("#dialog-box-Disable").dialog("open");
            })

    });
    </script>
}

