@model Hld.WebApplication.ViewModel.CatageorySub4ViewModel
@using Hld.WebApplication.Models

<div class="container">
    @using (Html.BeginForm("AddUpdateCatagoerySub4", "Catageory", FormMethod.Post, new { id = "form1" }))
    {
    <div class="form-group row">
        @Html.Label("Category 5", "Catageory 5", new { @class = "col-lg-3 col-sm-3 control-label font-weight-bold mr-2" })
        <div class="col-lg-9">
            @Html.HiddenFor(e => e.CatageorySub3Id)
            @Html.HiddenFor(e => e.CatageorySub4Id)
            <input asp-for="CatageorySub4Name" id="CatageorySub4NameId" class="form-control" />
            <span asp-validation-for="CatageorySub4Name" class="text-danger"></span>
        </div>
        <span id="IsExistCategorySub4"></span>
    </div>

        <div class="form-group">
            <input type="button" class="btn btn-light" disabled="true" id="btnSaveCategorySub4" value="Submit" onclick="return SubmitFormForCatageroySub4('CatageorySub4');" />
        </div>

    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

