@model Hld.WebApplication.ViewModel.SaveAndEditShipmentCourierVM

@{
    ViewData["Title"] = "Index";
}

<style>
    .controlabel {
        width: 112px;
        font-weight: bold;
    }


    .form-group {
        margin-bottom: 0px !important;
    }


    .inputstyle {
        height: 27px;
        box-shadow: none !important;
    }
   
</style>

<h6 style="margin-left: 15px;">Create Shipment Courier</h6>
<div class="container"style="margin-left: 2px;">
    <hr />
</div>

<form asp-action="Index">
    <div class="container-fluid">
        <div class="row col-md-12">
            <input type="text" asp-for="ShipmentCourier_ID" name="ShipmentCourier_ID" style="display:none">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Courier Name:</label>
                    <div class="col-sm-6 pl-0">

                        <input type="text" asp-for="CourierCode" class="form-control form-control-sm inputstyle" id="sku" placeholder="Courier Code">
                        <span asp-validation-for="CourierCode" class="text-danger"></span>

                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Tracking URL:</label>
                    <div class="col-sm-6 pl-0">
                        <input type="text" asp-for="CourierURL" class="form-control form-control-sm inputstyle" id="" placeholder="Courier URL">
                        <span asp-validation-for="CourierURL" class="text-danger"></span>

                    </div>

                </div>

               
                <div class="form-group row">

                    <div class="form-group" style="margin-left: 17px;">
                        <input type="submit" value="Create" class="btn btn-primary  btnsave" style="margin-left: 95px; }" />

                    </div>
                    <div class="margin-top: 5px;">
                        <a asp-controller="ShipmentCourier" asp-action="CourierDetail" target="_blank" class="" style="font-size:15px;
    margin-left: 7px;">View Shipment Courier</a>
                    </div>


                </div>
            </div>



        </div>

    </div>
</form>

