@model SKUEnableDisableForInventoryPage

<form asp-controller="Product" asp-action="Update_DS_EnableDisable_SKU" id="form1" role="form">
    <div>
        <div class="row">
            <div class="col-sm-7 float-sm-right">
                <label class="font-weight-bold col-sm-10" for="uname">Enable/Disable Dropship SKU:</label>
                <input type="checkbox" asp-for="EnableOrDisableDropship">
            </div>
            <div class="col-sm-4">
                <label>SKUs Selection: @Model.totalSkuSelected</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label class="font-weight-bold col-sm-3" for="uname">Dropship Qty:</label>
                <input type="text" asp-for="DropshipQty">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="font-weight-bold col-sm-3" for="uname">Comments:</label>
                <textarea asp-for="Comments" rows="3" cols="50">

                </textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12;" style="width:88px;margin:auto">
                <input type="button" id="SaveDS_Enable_disable_SKU" onclick="return SubmitForm();" value="Submit" class="btn btn-primary" />
                <span class="ButtonLoader">
                    <span style="display:none;"><img height="25px" width="25px" src="~/Images/loadingImage.gif" /> Processing . . .</span>
                </span>
            </div>
        </div>

        <div id="SkuStatusMessage" class="row">

        </div>

    </div>
</form>

