@model Hld.WebApplication.ViewModel.ProductManufacturedViewModel

@{
    ViewData["Title"] = "ProductManufacturedList";
}
<link href="~/select2/css/select2.min.css" rel="stylesheet" />

<style>
    .controlabel {
        width: 112px;
    }


    .form-group {
        margin-bottom: 0px !important;
    }


    .inputstyle {
        height: 27px;
        box-shadow: none !important;
    }

    .requiredCustomClass {
        color: red;
    }

    .mydlete {
        position: fixed;
        top: 17%;
        left: 70%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .9;
        background-color: rgb(249,249,249);
    }

        .loader img {
            top: 50%;
            position: absolute;
            left: 50%;
            margin: 0;
            margin-right: -50%;
            transform: translate(-50%,-50%);
        }
</style>
<div class="loader">
    <img src="~/Images/giffff.gif" />
</div>
<h6> Manufacturer List</h6>
<div class="container-fluid p-0" style="">
    <hr />
</div>
<div class="container-fluid p-0" style="">

    <div class="row">
        <div class="col-md-12">
            <div class="container" style="max-width:100%">
                <div class="">
                    <input type="text" asp-for="ParentID" name="ParentID" style="display:none">
                    <input type="text" asp-for="ManufactureId" name="ManufactureId" style="display:none;">
                    <div class="col-md-12">
                        <div class="form-group row">
                          @*  <label class="col-form-label-sm  controlabel"> Manufacturer:</label>*@
                            <div class="col-sm-3 pr-0" style="margin-left:auto">
                                <select class="js-example-basic-single form-control GetManufacture" name="ManufactureName" id="ManufactureName" asp-for="ManufactureName">
                                    <option value="">Manufacturer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-8">
            <div class="container">
                <table class="table table-bordered">
                    <thead style="background-color:lightgray">
                        <tr><th>Manufacturer</th><th>Manufacturer Model</th><th>Device Model</th><th>Action</th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>*@
    </div>
    
    <br />

    <div class="row">
        <div class="col-md-12">
            <div class="container" style="max-width:100%">
                <table class="table table-bordered">
                    <thead style="background-color:lightgray">
                        <tr><th>Manufacturer</th><th>Manufacturer Model</th><th>Device Model</th><th>Action</th></tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="Manufacturer" style="margin-top: 130px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modelwidth">

                <!-- Modal Header -->
                <div class="modal-header">
                    <strong>
                        <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;">Success!</span>
                    </strong>
                    <button type="button" class="close closeimg" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body myclassshide" style="padding-left:0!important;">
                    <p class="modal-title" style=" padding-left: 15px;">
                        Manufacturer Updated Successfully!
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeimg" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/sticky-table-headers/js/jquery.stickytableheaders.min.js"></script>
    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/lib/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>

    <script src="~/lib/date-range-picker/moment.min.js"></script>
    <script src="~/lib/date-range-picker/daterangepicker.js"></script>

    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".loader").hide();
            function GetManufacture() {
                debugger;
                $.ajax({
                    url: "/Product/GetAllVendorForAutoComplete/",
                    type: "POST",
                    minLength: 3,
                    dataType: "json",
                    data: { Prefix: "" },
                    success: function (data, ui) {
                        console.log("ddd", data)

                        var content = '';
                        $.each(data, function (index, value) {

                            content = content + '<option value = "' + value.ManufactureId + '">' + value.ManufactureName + '</option>';



                        });

                        $(".GetManufacture").append(content);


                    }
                });
            }
            GetManufacture();
            $(".GetManufacture").select2();
            $(document).on("change", ".GetManufacture", function () {

                var ManufactureId = $("select#ManufactureName option").filter(":selected").val();

                console.log("product ManufactureId", ManufactureId)
                $(".loader").show();
                $.ajax({
                    type: 'GET',
                    url: '../product/GetManufactureList?ManufactureId=' + ManufactureId,

                    success: function (data) {

                        $(".loader").hide();
                        console.log("rrr", data)
                        $(".table tbody").empty();

                        $.each(data, function (index, value) {
                            $(".table tbody").append("<tr><td><input type='text'value='" + value.ManufactureId + "'style='display:none'class='ManufactureIdval'><input type='text'value='" + value.ManufactureName + "'class='form-control ManufactureNameval'></td><td><input type='text' value='" + value.ManufactureModel + "'class='form-control ManufactureModelval'></td><td><input type='text'value='" + value.DeviceModel + "'class='form-control DeviceModelval'></td><td> <button type='button' class='btn btn-sm btn-success btnUpdate' style='' value=''>Update</button> <button type='button' class='btn btn-sm delete' data-id='' style='' value=''><img src='/Images/trash-can-1.1s-128px.png' height='25' /></button></td></tr > ");
                        });
                      
                    }
                });


            });
            $(document).on("click", ".btnUpdate", function () {

                var selectedRow = $(this).parents('tr');
                debugger
                var data =
                {

                    ManufactureId: $(selectedRow).find(".ManufactureIdval").val(),
                    Manufacturer: $(selectedRow).find(".ManufactureNameval").val(),
                    ManufactureModel: $(selectedRow).find(".ManufactureModelval").val(),
                    DeviceModel: $(selectedRow).find(".DeviceModelval").val(),
                };


                    $(".loader").show();

                $.ajax({
                    type: 'POST',
                    url: '../product/ManufacturedUpdate',
                    data: { data },
                    success: function (res) {
                        $(".loader").hide();
                        $("#Manufacturer").modal({
                            backdrop: 'static',
                            keyboard: false

                        });
                        $(".closeimg").click(function () {
                            location.reload();
                        })
                        console.log("responce", res)
                    },
                    Error: function (err) {

                    }
                });


            });

        });
    </script>
}
