@model Hld.WebApplication.ViewModel.AddStyleViewModel

@{
    ViewData["Title"] = "Style";
}
<style>
    .controlabel {
        width: 112px;
    }


    .form-group {
        margin-bottom: 0px !important;
    }


    .inputstyle {
        height: 27px;
        box-shadow: none !important;
    }

    .requiredCustomClass {
        color: red;
    }

    .mydlete {
        position: fixed;
        top: 17%;
        left: 70%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }
</style>
<h6>Create Style</h6>
<hr />
<div class="container-fluid p-0">

    <div class="row">
        <div class="col-md-4">

            <div class="container-fluid">
                <div class="row col-md-12">
                    <input type="text" asp-for="StyleId" name="StyleId" style="display:none"class="StyleId">

                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-form-label-sm  controlabel">Add Style:</label>
                            <div class="col-sm-8 pl-0">
                                <input asp-for="StyleName" class="form-control form-control-sm inputstyle StyleName" id="StyleName" style="margin-bottom:5px;">
                                <span asp-validation-for="StyleName" class="text-danger"></span>
                            </div>
                            <span class="requiredCustomClass">*</span>
                        </div>
                        <div class="form-group row" style="width:100%;margin-top:5px">
                            <div class="" style="margin-left: 110px;">
                                <input type="submit" value="Create" class="btn btn-primary btnsavestyle" id="InputSubmit" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div class="container-fluid p-0 mt-5">

    <div class="row">
        <div class="col-md-12">

            <div class="container-fluid">
                <div class="row col-md-12">
                  
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-form-label-sm  controlabel"></label>
                            <div class="col-sm-8 pl-0">

                                <table class="table table-bordered">
                                    <thead style="background-color:lightgray">
                                       
                                        <tr><th>Style Name</th><th>Action</th></tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.list)
                                        {<tr>
    <td>@item.StyleName</td>
    <td>
        <a href="/Product/Style?=@item.StyleId" style="cursor:pointer;"><img src="~/Images/icon-edit-512.png" height="20" /></a>
    </td>
</tr>
                                            
                                        }
                                    </tbody>
                                </table>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div class="modal fade" id="StyleName1" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>

                <button type="button" class="close InputSubmit" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Style Name Added Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default InputSubmit" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="StyleNameEdit" style="margin-top: 130px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modelwidth">
            <div class="modal-header">

                <strong>
                    <i class="fa fa-check" style="color:green"></i><span style="vertical-align: text-top;margin-left: 4px;
">Success!</span>
                </strong>

                <button type="button" class="close InputSubmit" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body myclassshide" style="padding-left:0!important;">
                <p class="modal-title" style=" padding-left: 15px;">
                    Style Name Updated Successfully!
                </p>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default InputSubmit" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/sticky-table-headers/js/jquery.stickytableheaders.min.js"></script>
    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/lib/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>

    <script src="~/lib/date-range-picker/moment.min.js"></script>
    <script src="~/lib/date-range-picker/daterangepicker.js"></script>

    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '#InputSubmit', function () {

                var StyleName = $(".StyleName").val();
                if (StyleName != '') {
                    $("#StyleName1").modal({
                        backdrop: 'static',
                        keyboard: false
                    });
                    $(".InputSubmit").click(function () {

                        window.location.href = '/Product/Style';
                    })
                    window.location.href = '/Product/Style';
                }
                else { }

            });

            $(".btnsavestyle").click(function () {


                var StyleName = $(".StyleName").val();
                var StyleId = $(".StyleId").val();

                console.log("StyleName", StyleName)
                if (StyleName != '') {
                    $.ajax({
                        type: 'post',
                        url: '../Product/Style',
                        data: { StyleName: StyleName, StyleId: StyleId },
                        success: function (res) {
                           
                            $(".StyleName").val("");
                            console.log(res,"resssssssss")
                            if (res.StyleId) {
                                $("#StyleNameEdit").modal({
                                    backdrop: 'static',
                                    keyboard: false
                                });
                                $(".InputSubmit").click(function () {
                                    window.location.href = '/Product/Style';
                                   
                                });
                                window.location.href = '/Product/Style';
                            }
                            else {
                                $("#StyleName1").modal({
                                    backdrop: 'static',
                                    keyboard: false
                                });
                                $(".InputSubmit").click(function () {
                                    window.location.href = '/Product/Style';

                                });
                                window.location.href = '/Product/Style';
                            }
                        },
                        error: function (err) {
                            $.notify('some error occured!', { classname: 'error ' });
                        }
                    });
                }
                else {
                    $.notify('Please Add Style Name first', { globalPosition: 'bottom right', className: 'danger mydlete' });
                }
            });
            function tablelist() {

                $(".loader").show();
                $.ajax({
                    type: 'GET',
                    url: '../product/GetManufactureList',

                    success: function (data) {
                        $(".loader").hide();
                        console.log("rrr", data)
                        //$(".table tbody").empty();

                        $.each(data, function (index, value) {
                            $(".table tbody").append("<tr><td><input type='text'value='" + value.StyleId + "'style='display:none'class='StyleId'><input type='text'value='" + value.StyleName + "'class='form-control StyleName'></td><td><button type='button' class='btn btn-sm btn-success btnUpdate' style='' value=''>Update</button> <button type='button' class='btn btn-sm delete' data-id='' style='' value=''><img src='/Images/trash-can-1.1s-128px.png' height='25' /></button></td></tr > ");
                        });

                    }
                });


            }
            tablelist();
        });



    </script>
}

