
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<style>
    .loadertbl {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .9;
        background-color: rgb(249,249,249);
    }

        .loadertbl img {
            top: 50%;
            position: absolute;
            left: 50%;
            /*width: 300px;
            height: 220px;*/
            margin: 0;
            margin-right: -50%;
            transform: translate(-50%,-50%);
        }
</style>
<div class="loadertbl">
    <img src="~/Images/giffff.gif" />
</div>
<div style="margin:100px;"></div>
<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Login with HLD.</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">
            <a @*asp-action="Authenticate" asp-controller="Authentication"*@ id="loginpage" style="cursor:pointer!important;color:cornflowerblue">Login</a>

        </h2>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <script>
        $(document).ready(function () {
            $(".loadertbl").hide();
          
            $("#loginpage").click(function () {

                $(".loadertbl").show();

                $.ajax({
                    type: 'get',
                    url: '../authentication/getcheckboxstatus',
                    data: {},
                    success: function (res) {
                        $(".loadertbl").hide();
                        $.each(res, function (index, value) {
                            var email = localStorage.getItem('Email');
                            if (email && value.Checkboxstatus == true) {
                                $.ajax({
                                    async: false,
                                    type: "POST",
                                    url: '../Authentications/save?Email=' + email + '',
                                    contentType: "application/json; charset=utf-8",
                                    datatype: "JSON",
                                    success: function (response) {
                                       
                                        console.log("get responce", response);
                                        if (response == "Vendor") {
                                            window.event.returnValue = false;
                                            document.location.href = "/PurchaseOrder/PurchaseOrders";
                                        }
                                        if (response == "Receiver") {
                                            window.event.returnValue = false;
                                            document.location.href = "/Shipment/Create";
                                        }
                                        if (response == "Admin") {
                                            window.event.returnValue = false;
                                            document.location.href = "/HLDHistory/DashBoard";
                                        }
                                        $(".loadertbl").hide();
                                        

                                    },

                                });
                            }
                           
                            else {
                                //location.href = '../Authentication/save';
                            }
                        });
                    }
                });
            });




            //$('#my-form').on('submit', function () {

            //});
            //$('#rememberMe').click(function () {
            //    if (!$("#rememberMe").is(":checked")) {
            //        localStorage.clear();
            //    } else {
            //        localStorage.setItem("Email", $("#loginEmail").val());
            //        localStorage.setItem("Password", $("#input-password").val());
            //        localStorage.setItem("remembercheck", $("#rememberMe").val());

            //    }


            //});
        });
    </script>
}