@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<style>
    .loadertbl {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .9;
        background-color: rgb(249,249,249);
    }

        .loadertbl img {
            top: 50%;
            position: absolute;
            left: 50%;
            /*width: 300px;
            height: 220px;*/
            margin: 0;
            margin-right: -50%;
            transform: translate(-50%,-50%);
        }
</style>
<div class="loadertbl">
    <img src="~/Images/giffff.gif" />
</div>
<div style="margin:100px;"></div>
<div class="d-flex justify-content-center align-items-center" id="main">
    <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">Login with HLD.</h1>
    <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">
            <a asp-action="Authenticate" asp-controller="Authentication" id="loginpage" style="cursor:pointer">Login</a>
           
        </h2>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <script>
        $(document).ready(function () {
            $(".loadertbl").hide();
           

            //$("#loginpage").click(function () {
            //    //$(".ButtonLoader1").show();
            //    $(".loadertbl").show();
            //    if (localStorage.getItem('remembercheck')) {
            //        var email = localStorage.getItem('Email');
            //        var passwrd = localStorage.getItem('Password');
            //        $("#loginEmail").val(email);
            //        $("#input-password").val(passwrd);

            //        $("#rememberMe").prop('checked', true);
            //        //location.href = '../hldhistory/dashboard?email=' + email + 'password=' + passwrd;
                    
            //        $.ajax({
            //            type: "POST",
            //            url: '../authentication/save?Email=' + email + '&Password=' + encodeURIComponent(passwrd),

            //            //dataType: "html",
            //            datatype: "JSON",
            //            success: function (response) {
            //                console.log("get responce", response);
            //                //$(".ButtonLoader1").hide();
            //                $(".loadertbl").hide();
            //                //location.href = '../HLDHistory/DashBoard';
                            
            //                //location.href ='.../HLDHistory/DashBoard';
            //                ////var w = window.open('about:blank');
            //                ////var w = window.open('.../HLDHistory/DashBoard');
            //                //var w = window.open('https://localhost:44386/HLDHistory/DashBoard');
            //                //w.document.open();
            //                //w.document.write(response);
            //                //w.document.close();
            //            },
            //            failure: function (response) {
            //                alert(response.responseText);
            //            },
            //            error: function (response) {
            //                alert(response.responseText);
            //            }
            //        });

            //        //location.href = '../authentication/save?email=' + email + '&password=' + passwrd;

            //    }
            //    else {
            //        location.href = '../authentication/save';
            //    }
            //});



            $('#my-form').on('submit', function () {

            });
            $('#rememberMe').click(function () {
                if (!$("#rememberMe").is(":checked")) {
                    localStorage.clear();
                } else {
                    localStorage.setItem("Email", $("#loginEmail").val());
                    localStorage.setItem("Password", $("#input-password").val());
                    localStorage.setItem("remembercheck", $("#rememberMe").val());

                }


            });
        });
    </script>
}