@model Hld.WebApplication.ViewModel.TagViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

 

<h6>Add Tags</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TagId" type="hidden"  />
            <div class="form-group">
                <label asp-for="TagName" class="control-label"></label>
                <input asp-for="TagName" class="form-control" />
                <span asp-validation-for="TagName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagColor" class="control-label"></label>
                <input asp-for="TagColor" type="color" />
                <span asp-validation-for="TagColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TagList">Back to List</a>
</div>

