@model Hld.WebApplication.ViewModel.SaveQuotationMainVM

@{
    ViewData["Title"] = "Index";
}


<style>
    .controlabel {
        width: 112px;
        font-weight: bold;
    }


    .form-group {
        margin-bottom: 0px !important;
    }
    .hidedialogbox {
        font-family: Arial;
        position: absolute;
        top: 1000px;
        width: 1000px;
        height: auto;
    }
    .mydelte {
        position: fixed;
        top: 25%;
        left: 85%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 30px;
    }
</style>

<h6 style="margin-left: 15px;">Craete Quotaion</h6>

<form asp-action="Index">
    <div class="container-fluid">
        <div class="row col-md-12">
            <input type="text" asp-for="Quotation_main_id" name="Quotation_main_id" style="display:none">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Sku:</label>
                    <div class="col-sm-6 pl-0">

                        <input type="text" asp-for="Sku" class="form-control form-control-sm" id="sku" placeholder="sku">
                        <span asp-validation-for="Sku" class="text-danger"></span>

                    </div>
                    <div class="col-sm-3 pl-0">
                        <button type="button" class="btn btn-success" id="GenrateSKU" style="float:right;
        box-shadow: none !important;
        height: 30px;
    ">
                            Genrate Sku
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Title:</label>
                    <div class="col-sm-9 pl-0">
                        <input type="text" asp-for="Title" class="form-control form-control-sm" id="" placeholder="title">
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>

                </div>

                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Currency:</label>
                    <div class="col-sm-9 pl-0">

                        <select asp-for="Currency" class="form-control" style="box-shadow:none;height:31px">

                            <option value="CNY">CNY</option>
                            <option value="USD">USD</option>


                        </select>

                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Creation Date:</label>
                    <div class="col-sm-9 pl-0">
                        <input type="date" asp-for="CreationDate" class="form-control form-control-sm" id="" placeholder="">
                        <span asp-validation-for="CreationDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Notes:</label>
                    <div class="col-sm-9 pl-0">

                        <textarea asp-for="Notes" cols="5" rows="5" style="width:100%"></textarea>

                        <span asp-validation-for="Notes" class="text-danger"></span>

                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-form-label-sm  controlabel">Feature:</label>
                    <div class="col-sm-9 pl-0">

                        <textarea asp-for="Feature" cols="5" rows="5" style="width:100%"></textarea>

                        <span asp-validation-for="Feature" class="text-danger"></span>

                    </div>

                </div>
                <div class="form-group" style="">
                    <input type="submit" value="Create" class="btn btn-primary  btnsave" style="margin-left: 95px; }" />

                </div>
            </div>



        </div>

    </div>
</form>
<div class="hidedialogbox ">
    <div id="dialog-box">
        <h6 style="color:red">Do you want to delete this reocord!</h6>
    </div>
    <div id="dialog-box">
        <h6 style="color:red ;">Do you want to delete this reocord!</h6>
    </div>
    <div id="dialog-box-Inform">
        <h6 style="color:red">You can not delete shipment until delete all the boxes in this Case Pack shipment!</h6>
    </div>

    <div id="dialog-box-warn">
        <h6 style="color:red">You can not ship because boxes in this shipment are empty Or their dimenions are not given</h6>
    </div>

</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/lib/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>

    <script src="~/lib/date-range-picker/moment.min.js"></script>
    <script src="~/lib/date-range-picker/daterangepicker.js"></script>

    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
          
            
            $('#GenrateSKU').click(function () {
                var Url = '/Quotation/GenrateSKU/';
                $.ajax({
                    type: 'POST',
                    url: Url,
                    success: function (responce) {
                       
                        $("#sku").val(responce)
                        
                    }

                });
               
            });
            $(document).on("click", ".delete", function () {
                var currentElem = $(this).closest('tr');
                var selectedRow = $(this);
                var Quotation_main_id = $(selectedRow).parents('tr').find('.Quotation_main_id').val();
                $("#dialog-box").dialog({
                    buttons: {
                        "Confirm": function () {

                            debugger;
                            $.ajax({
                                type: 'GET',
                                url: '../Quotation/DeleteQuotaion' + Quotation_main_id,
                                
                                success: function (res) {
                                    debugger;
                                    $("#dialog-box").dialog("close");
                                    selectedRow.parents('tr').remove();
                                    
                                   // $.notify('Delete Successfully', { globalPosition: 'bottom right', className: 'danger myclasscancel' });
                                    debugger;
                                },
                                Error: function (err) {
                                    debugger;
                                }
                            });


                            currentElem.remove()
                            $(this).dialog("close");
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                })
                $("#dialog-box").dialog("open");
            });
        });

    </script>
}