@model Hld.WebApplication.ViewModel.GetSendToZincOrderViewModel
@{
    ViewData["Title"] = "GetSendToZincCount";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";

}@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<link href="~/lib/jQuery-MultiSelect/jquery.multiselect.css" rel="stylesheet" />
<link href="~/select2/css/select2.min.css" rel="stylesheet" />

<link href="~/css/date-range-picker/daterangepicker.css" rel="stylesheet" />
<style>
    .myselectwidth {
        width: 230px !important;
    }.btngocalss {
        box-shadow: none !important;
        border: none !important;
        
         height: 28px !important;
        margin-left: -6px !important;
        border-radius: 5px !important;
    }  .mydlete {
        position: fixed;
        top: 24%;
        left: 70%;
        color: red;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 60px;
    }.loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: .9;
        background-color: rgb(249,249,249);
    }

        .loader img {
            top: 50%;
            position: absolute;
            left: 50%;
            margin: 0;
            margin-right: -50%;
            transform: translate(-50%,-50%);
        }
    .tablesorter-default .tablesorter-header {
        outline: none !important;
    }.form-group{
         margin-bottom:0!important;
     }
    .card-body{
        padding:0!important;
    }
</style>
<div class="loader">
    <img src="~/Images/giffff.gif" />
</div>
<div class="container-fluid" style="margin-left:15px">
    <h6>Zinc Order Details</h6>
</div>
<div class="container-fluid" style="margin-left:10px">
    @using (Html.BeginForm("GetSendToZincCount", "Zinc", FormMethod.Get))
    {
        <div class="card-body">

            <div class="row"style="margin-left:5px">

                <div class="col-md-2 p-0 mr-1">
                    <input type="text" id="SKU" name="Sku" placeholder="SKU" value="@Model.Sku" class="form-control" style="box-shadow:none" />
                </div>
                <div class=" col-md-2 p-0 mr-1">
                    <input type="text" id="ASIN" name="Asin" placeholder="ASIN" value="@Model.Asin" class="form-control" style="box-shadow:none" />
                </div>
                <div class="col-md-2 p-0" style="
">
                    <div id="reportrange" style="background: #fff; cursor: pointer; border: 1px solid #ccc;padding: 3px;border-radius: 4px;box-shadow:none">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                    <input type="hidden" name="orderDateTimeFrom" id="orderDateTimeFrom" />
                    <input type="hidden" name="orderDateTimeTo" id="orderDateTimeTo" />
                </div>
                <div class="col-md-1">
                    <button class=" btn btn-primary" type="submit" id="btnSearchOrder">Search</button>
                </div>
            </div>
            <div class="form-group">

            </div>

        </div>

    }

    
        
    
</div>

<div class="modal fade" style="margin-top: 80px!important;" id="SendtozincModal" role="dialog">
    <div class="modal-dialog  modal-md">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Zinc</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" id="SendtozincModalBody">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid p-0" style="margin-left:15px">

    <div class="row col col-12 p-0" id="fixActionMenu">
        <div class="col col-md-2">
            <div class="row"style="margin-left: 10px;">
                <div class="pagination col-md-2 col">

                </div>

            </div>
        </div>
        <div class="col col-md-2">
            <span style="vertical-align: sub;">Results Found: @ViewBag.Records</span>
        </div>
        <div class="form-group col-md-8 p-0">
            <div style="float: right;">
                <select class="js-example-basic-single form-control updatezincorder myselectwidth" id="actionMenu">
                    <option value="updatezincorder">Marked As Received</option>
                </select>
                <span>
                    <button class="ml-1 btn btn-success btngocalss" type="submit" id="btnUpdateZincOrder">Go</button>
                </span>
            </div>  
        
    </div>
</div>
<div class="container-fluid p-0">
    <div id="loadOrder">

    </div>
</div>
<div class="container-fluid">
    <div class="row" style="margin-left: -5px;">
        <div class="pagination col-md-2 col">

        </div>

    </div>
</div>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/sticky-table-headers/js/jquery.stickytableheaders.min.js"></script>
    <script src="~/lib/jQuery-Paging/jquery.paging.min.js"></script>
    <script src="~/lib/jQuery-MultiSelect/jquery.multiselect.js"></script>
    <script src="~/select2/js/select2.full.min.js"></script>

    <script src="~/lib/date-range-picker/moment.min.js"></script>
    <script src="~/lib/date-range-picker/daterangepicker.js"></script>

    <script src="~/lib/jquery.tablesorter/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
             $(".loader").hide();
            var selectedDateFrom = "";
            var selectedDatTo = "";
            var start = moment().subtract(7, 'days');
            var end = moment();
            $(".updatezincorder").select2();
            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            //UpdateZincOrder

            function btnUpdateZincOrder(Obj) {
                debugger
                $.get('/Zinc/UpdateZincOrder?Sku=' + Obj.SKU + '&ASIN=' + Obj.ASIN + '&max_price=' + Obj.max_price +'&OrderId='+ Obj.OrderId + '').done(function (response) {
                    $('#SendtozincModalBody').empty();
                    $('#SendtozincModalBody').html(response);
                    var successMessage = $('#modelBody').find('.successmessage');
                    $(successMessage).hide()
                    $('#SendtozincModal').modal('show');
                });
            }

            $(document).on('click', '#btnUpdateZincOrder', function () {
                debugger
                var count = 0;
                var Obj = {};
                $(".table-AsinList tbody tr ").each(function () {
                    if ($(this).find('.radiobuttoncheckd').is(':checked')) {
                        count++;
                        var Obj2 = {
                            OrderId:$(this).find('.ordervalue').val(),
                            SKU: $(this).find('.skuvalue').val(),
                            ASIN: $(this).find('.asinvalue').val(),
                            max_price: $(this).find('.MaxPrice').val()
                        }
                        Obj = Obj2;
                        $('#skuappend').append(Obj.SKU);
                    }
                });
                if (count == 1) {
                    btnUpdateZincOrder(Obj);
                }
                else {
                    $.notify('Please select an option', { globalPosition: 'bottom right', className: 'danger mydlete' });
                }
            });
            //end update zinc order
            //Update Zinc Order
            $(document).on('click', '#updatezincorder', function () {

                debugger;
                var date = $('#date-input').val();
                if (date) {
                    var qtyId = parseInt($('#qty').val());
                    var orderId = $('#ordervalue').text().split(':')[1];
                    var data = {
                        RecievedOrderDate: date,
                        RecievedOrderQty: qtyId,
                        OrderId: orderId
                    }
                    $(".loader").show();
                    var Url = '/Zinc/UpdateZincOrder/';
                    $.ajax({
                        url: Url,
                        data: data,
                        type: 'POST',
                        traditional: true,

                        success: function (res) {
                            $(".loader").hide();
                            location.href = '../Zinc/GetSendToZincCount';
                            $('#SendtozincModal').modal('hide');
                        }
                    });
                }
                else {
                    $.notify('Please select select date', { globalPosition: 'bottom right', className: 'danger mydlete' });
                }
               
            });
            //End Update Zinc Order
            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);

            $("#orderDateTimeFrom").datepicker({ dateFormat: 'yy-mm-dd' });


            $("#orderDateTimeTo").datepicker({ dateFormat: 'yy-mm-dd' });

            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {

                selectedDateFrom = picker.startDate.format('YYYY-MM-DD');
                selectedDatTo = picker.endDate.format('YYYY-MM-DD');
                $("#orderDateTimeTo").val(selectedDatTo);
                $("#orderDateTimeFrom").val(selectedDateFrom);
                console.log($("#orderDateTimeTo").val());
                console.log(selectedDatTo);
            });
          //pagination
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = window.location.search.substring(1),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                    }
                }
            };
    $(".pagination").paging(parseInt('@ViewBag.Records'), {
    format: '[< nncnn >]',
    perpage: 25, // show 10 elements per page
    lapping: 0, // don't overlap pages for the moment
    page: 1, // start at page, can also be "null" or negative
    stepwidth: 0, // =0 means blockwise next/prev steps
    onSelect: function (page) {

    pageNo = page;


        var OrderDateTimeFrom = getUrlParameter('orderDateTimeFrom');
        var OrderDateTimeTo = getUrlParameter('orderDateTimeTo');
        var SKU = getUrlParameter('Sku');
        var asin = getUrlParameter('Asin');

    $(".loadertbl").show();

        $.ajax({
            url: url = '/Zinc/GetSendToZincOrder?page=' + page + '&Sku=' + SKU + '&Asin=' + asin + '&orderDateTimeFrom=' + OrderDateTimeFrom + '&orderDateTimeTo=' + OrderDateTimeTo,
            data: {},
            type: 'POST',
            traditional: true,
            success: function (data) {
                $('#loadOrder').empty();
                $('#loadOrder').html(data);
                $(function () {
                                $(".table").tablesorter();
                              })
                $(".loadertbl").hide();
                // $('#tableOrderList').stickyTableHeaders({ fixedOffset: 0 });
            }
        });
        if (typeof OrderDateTimeFrom !== "undefined" && typeof OrderDateTimeTo !== "undefined") {
            if (OrderDateTimeFrom !== "" && OrderDateTimeTo !== "") {
                start = moment(OrderDateTimeFrom);
                end = moment(OrderDateTimeTo);

                cb(moment(OrderDateTimeFrom), moment(OrderDateTimeTo));
            }
            else {
                $('#reportrange span').html("No Date Selected");
            }

        }
        else {
            $('#reportrange span').html("No Date Selected");
        }



    },
        onFormat: function (type) {
            switch (type) {
                case 'block': // n and c
                    if (this.page === this.value) {
                        return '<span>' + this.value + '</span>';
                    } else {
                        return '<a href="#">' + this.value + '</a>';
                    }
                case 'next': // >
                    return '<a href="#">&gt;</a>';
                case 'prev': // <
                    return '<a href="#">&lt;</a>';
                case 'first': // [
                    return '<a href="#">First</a>';
                case 'last': // ]
                    return '<a href="#">Last</a>';
            }
        }
    });
            $(".table").tablesorter();
    });
    </script>
}


