 
<div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Alert!</strong> Zinc ASIN (@ViewBag.ASIN) for Product SKU (@ViewBag.ProductSKU) Already Exists . . .
</div>