
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}

<h1>Setting</h1>
<div class="row">
    <div class="col-sm-2">

        <button class="btn btn-primary" id="btnUpdateProductImages" type="button">Update SC Orders</button>
        <span>
            <img style="display:none;" class="UpdateASINButtonLoader" height="25px" width="25px" src="~/Images/loadingImage.gif" />
        </span>
    </div>
    <div class="col-sm-2">
        <div class="col-sm-6">
            <div class="alert alert-success alert-dismissible successmessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong><span> Update Successfully.</span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-danger alert-dismissible dangermessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Alert!</strong><span> Some Error Occured.</span>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            $('.successmessage').hide();
            $('.dangermessage').hide();
            $('#btnUpdateProductImages').click(function () {

                $('#btnUpdateProductImages').attr('disabled', true);
              
                var URL = '/SellerCloud/SellerCloudSetting';
                $('.UpdateASINButtonLoader').css('display', 'inline');

                $.ajax({
                    type: 'Get',
                    url: URL,
                    data: {},
                    dataType: 'json',
                    traditional: true,
                    success: function (data) {
                        if (data.success) {
                            $('#btnUpdateProductImages').removeAttr('disabled');
                            $('.UpdateASINButtonLoader').css('display', 'none');
                            $('.successmessage').show();
                        }
                        else {
                            $('.UpdateASINButtonLoader').css('display', 'none');
                            $('.dangermessage').show();
                        }

                    }
                });
            });

        });

    </script>
}
